.formcont {
    background-color: #282c34;
    display: flex;
    align-items: center;
    justify-content:space-between;
    color: white;
    width: auto;
    flex-direction: column;
    height: 300px;
}